/* Это современный вид записи. Лучше использовать его
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
*/

/* Но можно и так. Вроже как он менее лаконичный и логичный.
Однако на практике особой разници не заметно
 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Balqis";
  src: url("../fonts/Balqis.ttf") format("truetype");
  src: url("../fonts/Balqis.woff2") format("woff2") url("../fonts/Balqis.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2")
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype");
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2")
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2")
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #000;
  font-family: "RobotoCondensed-Light", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin: 200px auto; /*Схлопывание марджинов*/
  max-width: 1920px;
}

.section-container {
  position: relative;
}

.section-container__content {
  position: absolute;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  color: #e2ab3f;
  font-family: "Balqis";
  font-size: 96px;
  line-height: 128px;
}

.title span {
  display: block;
  color: #000;
  font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 100px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
}

.menu__list-item {
  display: inline-block;
  /*margin-right: 52px; Можно написать здесь отступ, однако после последнего будет тоже бесполезный отступ */
}
/* Поэтому можно написать так, 
тогда после последнего отступа не будет 
*/
.menu__list-item + .menu__list-item {
  margin-left: 52px;
}

.menu__list-link:hover {
  text-decoration: underline;
}

.header__phone {
  padding-left: 40px;
  position: relative;
}
.header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/phone.svg");
  width: 30px;
  height: 30px;
  left: 0;
}

.header__title {
  font-family: "Balqis";
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-weight: 200;
}
.header__title span {
  display: block;
  text-align: right;
  font-size: 56px;
  line-height: 66px;
  font-family: "RobotoCondensed-LightItalic";
  margin-top: -66px;
  margin-right: 85px;
}

.fairy-tail__title {
  margin-top: -20px;
  margin-left: 180px;
}

.fairy-tail__slider {
  width: 50%;
}
.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.slick-prew {
  left: 0;
}
.slick-next {
  right: 0;
}

.fairy-tail__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding-left: 55px;
}

.fairy-tail__content-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 10px;
}
.fairy-tail__text {
  padding: 10px 0;
}

.our-trip__slider {
  width: 60%;
  margin-left: auto;
}

.our-trip__title {
  margin-top: -25px;
  margin-left: 245px;
}
.our-trip__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 40%;
  padding-right: 55px;
}
.our-trip__list--title {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.our-trip__list {
  padding: 10px 0;
}

.our-trip__btn {
  font-family: "RobotoCondensed-Light";
  text-transform: uppercase;
  align-self: flex-start;
  font-size: 24px;
  line-height: 28px;
  padding: 11px 54px;
  border: 1px solid #e2ab3f;
}

.hotel__inner {
  display: flex;
}
.hotel__inner-img {
  margin-right: 100px;
}
.hotel__title {
  margin-left: 120px;
  margin-top: -25px;
}
.hotel__content-text {
  margin-bottom: 20px;
}
.hotel__gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel__gallery a {
  margin-top: 50px;
}

.price {
  background-image: url("../img/balls.png");
  background-repeat: no-repeat;
  background-position: center right 15%;
}

.price__inner {
  display: flex;
  flex-wrap: wrap;
}

.price__title {
  margin-top: -20px;
  margin-left: 120px;
}

.price__list-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
}
.price__list {
  font-size: 18px;
  line-height: 21px;
}
.price__list-item {
  margin-top: 20px;
}

.price__included {
  max-width: 530px;
  margin-right: 70px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-family: "Balqis";
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
}
.contacts__title span {
  display: block;
  font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.contacts__price-title {
  margin-left: 105px;
}
.contacts__date {
  margin-left: 200px;
  margin-top: -25px;
}
.contacts__price {
  margin-left: 195px;
  margin-top: -20px;
}

.contacts__form-info {
  margin-bottom: 100px;
  padding: 0 15px;
}
.contacts__form {
  padding: 0 15px;
}
.contacts__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts__form-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
}
.contacts__form-input {
  border: 1px solid #e2ab3f;
  display: block;
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  padding: 0 31px;
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 21px;
}

.contacts__form-btn {
  border: 1px solid #e2ab3f;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "RobotoCondensed-Light";
  background: transparent;
  padding: 11px 45px;
  cursor: pointer;
}
.footer {
  background-image: url("../img/footer-fone.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 96px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: "Balqis";
  font-size: 86px;
  line-height: 115px;
}

.footer__contacts {
  width: 356px;
  height: 527px;
  background-image: url("../img/ball-footer.png");
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 55px;
}

.footer__contacts-title {
  font-family: "Balqis";
  font-size: 86px;
  line-height: 115px;
  color: #e2ab3f;
  margin-bottom: 50px;
}

.footer__contacts-phone,
.footer__contacts-email {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  padding-left: 40px;
  position: relative;
}

.footer__contacts-phone::before,
.footer__contacts-email::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -5px;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__contacts-phone::before {
  background-image: url("../img/phone-footer.svg");
}
.footer__contacts-email::before {
  background-image: url("../img/mail.svg");
}

.footer__contacts-phone {
  margin-bottom: 20px;
}
.footer__contacts-email {
  margin-bottom: 38px;
}
.footer__social-link {
  padding: 0 7px;
}

@media (max-width: 1621px) {
  .price {
    background-position: center right 10%;
  }
}

@media (max-width: 1470px) {
  .price {
    background-position: center right 1.5%;
  }
}
@media (max-width: 1260px) {
  .header__title {
    font-size: 170px;
    line-height: 280px;
  }
  .header__title span {
    font-size: 50px;
    line-height: 65px;
    margin-top: -80px;
  }
  .hotel__inner-img {
    margin-right: 50px;
  }
  .price {
    background-position: center right 20%;
  }
  .price__inner {
    display: flex;
    flex-direction: column;
  }
  .price__included {
    max-width: 600px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1182px) {
  .hotel__inner-img {
    display: none;
  }
  .hotel__gallery {
    margin-top: 30px;
    justify-content: space-around;
  }
  .hotel__gallery a {
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
  }
  .price {
    background-position: center right 10%;
  }
  .contacts__title {
    font-size: 80px;
    line-height: 115px;
  }
  .contacts__title span {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts__price {
    margin-left: 160px;
  }
  .contacts__date {
    margin-left: 170px;
  }
  .contacts__form-title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 40px;
  }
  .footer__text {
    font-size: 70px;
    line-height: 100px;
  }
}

@media (max-width: 991px) {
  .page-section {
    margin: 100px 0;
  }
  .section-container__content {
    position: static;
  }
  .fairy-tail__slider {
    width: 100%;
  }
  .fairy-tail__content-text {
    width: 100%;
    padding-left: 0;
  }
  .our-trip__slider {
    width: 100%;
  }
  .our-trip__content-text {
    width: 100%;
    padding: 15px 15px;
  }
  .title span {
    margin-bottom: 70px;
  }
  .price {
    background-position: top right 2%;
    background-size: 30vh;
  }
  .contacts__img {
    width: 50%;
    object-fit: cover;
  }
  .footer__contacts-title {
    font-size: 65px;
    line-height: 100px;
    margin-bottom: 25px;
  }
  .footer__text {
    font-size: 60px;
    line-height: 80px;
  }
  .footer {
    padding-top: 0;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 840px) {
  .header__title {
    font-size: 115px;
    line-height: 150px;
  }
  .header__title span {
    font-size: 30px;
    line-height: 60px;
    margin-top: -40px;
  }
  .header__top {
    font-size: 20px;
    line-height: 24px;
  }
  .header__phone::before {
    width: 25px;
    height: 25px;
    background-size: cover;
  }
  .price {
    background-position: top right 5%;
    background-size: 20vh;
  }
  .contacts__title {
    font-size: 65px;
    line-height: 100px;
  }
  .contacts__title span {
    font-size: 18px;
  }
  .contacts__date {
    margin-left: 135px;
  }
  .contacts__price {
    margin-left: 105px;
  }
  .contacts__form-title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .footer__text {
    font-size: 50px;
    line-height: 70px;
  }
  .footer__contacts-title {
    font-size: 60px;
    line-height: 80px;
  }
  .footer__contacts-phone,
  .footer__contacts-email {
    padding-left: 30px;
  }
  .footer__contacts-phone::before,
  .footer__contacts-email::before {
    width: 25px;
    height: 25px;
    top: -2px;
  }
  .footer__contacts {
    width: 300px;
    height: 440px;
    background-size: cover;
    padding-top: 45px;
  }
}

@media (max-width: 701px) {
  .contacts__content {
    width: 55%;
  }
  .contacts__img {
    width: 45%;
  }
  .contacts__title {
    font-size: 50px;
    line-height: 80px;
  }
  .contacts__title span {
    font-size: 17px;
  }
  .contacts__form-btn {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts__form-info {
    margin-bottom: 50px;
  }
  .footer__contacts {
    width: 260px;
    height: 386px;
    padding-top: 30px;
  }
  .footer__contacts-title {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
  }
  .footer__contacts-phone,
  .footer__contacts-email {
    padding-left: 25px;
  }
  .footer__contacts-phone,
  .footer__contacts-email {
    font-size: 16px;
  }
  .footer__social-link img {
    width: 25px;
    height: 25px;
  }
  .footer__social-link svg {
    width: 25px;
    height: 25px;
  }
  .footer__contacts-email {
    margin-bottom: 25px;
  }
  .footer__text {
    font-size: 45px;
    line-height: 65px;
  }
  .footer__contacts-phone::before,
  .footer__contacts-email::before {
    width: 20px;
    height: 20px;
    top: 0px;
  }
}

@media (max-width: 600px) {
  .header__top {
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu {
    width: 100%;
    text-align: center;
    margin: 0 0 25px;
  }
  .header__title {
    font-size: 80px;
    line-height: 120px;
  }
  .header__title span {
    font-size: 22px;
    margin-right: 15px;
    margin-top: -46px;
  }
  .fairy-tail__item img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .page-section {
    margin: 50px 0;
  }
  .title {
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 110px;
  }
  .title span {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
  }
  .fairy-tail__title {
    margin-top: -25px;
    margin-left: 110px;
  }
  .our-trip__title {
    margin-top: -30px;
    margin-left: 165px;
  }
  .our-trip__slider img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .hotel__title {
    margin-left: 70px;
    margin-top: -30px;
  }
  .price {
    background-position: top right 8%;
    background-size: 15vh;
  }
  .price__title {
    margin-top: -26px;
    margin-left: 75px;
  }
  .contacts__inner {
    flex-direction: column-reverse;
  }
  .contacts__img {
    width: 100%;
    height: 50vh;
  }
  .contacts__title {
    font-size: 70px;
    line-height: 100px;
  }
  .contacts__content {
    width: 100%;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__text {
    margin-top: -15px;
  }
}

@media (max-width: 380px) {
  .header__title {
    font-size: 60px;
    line-height: 100px;
  }
  .header__title span {
    font-size: 18px;
    margin-right: 15px;
    margin-top: -46px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 15px;
  }
  .title {
    margin-bottom: 25px;
    font-size: 55px;
    line-height: 100px;
  }
  .title span {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  body {
    font-size: 17px;
    line-height: 20px;
  }
  .our-trip__title {
    margin-left: 145px;
  }
  .our-trip__btn {
    font-size: 22px;
    line-height: 25px;
    padding: 10px 40px;
  }
  .our-trip__list--title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .hotel__gallery {
    margin-top: 0px;
  }
  .price {
    background-position: top right 5%;
    background-size: 14vh;
  }
  .price__title {
    margin-top: -25px;
    margin-left: 40px;
  }
  .contacts__form-btn {
    font-size: 18px;
    line-height: 20px;
  }
  .contacts__date {
    margin-left: 100px;
  }
  .contacts__price {
    margin-left: 70px;
  }
  .footer__text {
    font-size: 40px;
  }
}
