/* Это современный вид записи. Лучше использовать его
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
*/

/* Но можно и так. Вроже как он менее лаконичный и логичный.
   Однако на практике особой разници не заметно
*,
*::after,
*::before {
  box-sizing: border-box;
} */

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Balqis";
  src: url("../fonts/Balqis.ttf") format("truetype");
  src: url("../fonts/Balqis.woff2") format("woff2") url("../fonts/Balqis.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
  /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2")
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype");
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2")
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2")
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Позволяет сначала отобразить текста системными шрифтами. А уже потом догружает нужные шрифты*/
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #000;
  font-family: "RobotoCondensed-Light", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin: 200px auto; /*Схлопывание марджинов*/
  max-width: 1920px;
}

.section-container {
  position: relative;
}

.section-container__content {
  position: absolute;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  color: #e2ab3f;
  font-family: "Balqis";
  font-size: 96px;
  line-height: 128px;
}

.title span {
  display: block;
  color: #000;
  font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 100px;
}

.header {
  background-image: url("../img/header-bg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
}

.menu__list-item {
  display: inline-block;
  /*margin-right: 52px; Можно написать здесь отступ, однако после последнего будет тоже бесполезный отступ */
}
/* Поэтому можно написать так, 
тогда после последнего отступа не будет 
*/
.menu__list-item + .menu__list-item {
  margin-left: 52px;
}

.menu__list-link:hover {
  text-decoration: underline;
}

.header__phone {
  padding-left: 40px;
  position: relative;
}
.header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/phone.svg");
  width: 30px;
  height: 30px;
  left: 0;
}

.header__title {
  font-family: "Balqis";
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-weight: 200;
}
.header__title span {
  display: block;
  text-align: right;
  font-size: 56px;
  line-height: 66px;
  font-family: "RobotoCondensed-LightItalic";
  margin-top: -66px;
  margin-right: 85px;
}

.fairy-tail__title {
  margin-top: -20px;
  margin-left: 180px;
}

.fairy-tail__slider {
  width: 50%;
}
.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.slick-prew {
  left: 0;
}
.slick-next {
  right: 0;
}

.fairy-tail__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding-left: 55px;
}

.fairy-tail__content-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 18px;
  line-height: 21px;
}
.fairy-tail__text {
  padding: 10px 0;
}

.our-trip__slider {
  width: 50%;
  margin-left: auto;
}

.our-trip__title {
  margin-top: -25px;
  margin-left: 245px;
}
.our-trip__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  padding-right: 55px;
}
.our-trip__list--title {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.our-trip__btn {
  font-family: "RobotoCondensed-Light";
  text-transform: uppercase;
  align-self: flex-start;
  font-size: 24px;
  line-height: 28px;
  padding: 11px 54px;
  border: 1px solid #e2ab3f;
}

.hotel__inner {
  display: flex;
}
.hotel__inner-img {
  margin-right: 100px;
}
.hotel__content-text {
  margin-bottom: 20px;
}
.hotel__gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}
